@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Readex Pro', system-ui, sans-serif;
  background: #f9f9f9;
}
:root {
  --tw-color-ln-dark: theme('colors.ln.dark');
  --tw-color-ln-accent: theme('colors.ln.accent');
}
